In [31]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [32]:
df = pd.read_csv("./loan_approval_data.csv")
df.head()

   Applicant_ID  Applicant_Income  ...  Employer_Category Loan_Approved
0           1.0           17795.0  ...            Private            No
1           2.0            2860.0  ...            Private            No
2           3.0            7390.0  ...         Government           Yes
3           4.0           13964.0  ...         Government            No
4           5.0           13284.0  ...            Private           Yes

[5 rows x 20 columns]

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Applicant_ID        950 non-null    float64
 1   Applicant_Income    950 non-null    float64
 2   Coapplicant_Income  950 non-null    float64
 3   Employment_Status   950 non-null    object
 4   Age                 950 non-null    float64
 5   Marital_Status      950 non-null    object
 6   Dependents          950 non-null    float64
 7   Credit_Score        950 non-null    float64
 8   Existing_Loans      950 non-null    float64
 9   DTI_Ratio           950 non-null    float64
 10  Savings             950 non-null    float64
 11  Collateral_Value    950 non-null    float64
 12  Loan_Amount         950 non-null    float64
 13  Loan_Term           950 non-null    float64
 14  Loan_Purpose        950 non-null    object
 15  Property_Area       950 non-null    object
 16  Education_Level     950 non-null    object
 17  Gender              950 non-null    object
 18  Employer_Category   950 non-null    object
 19  Loan_Approved       950 non-null    object
dtypes: float64(12), object(8)
memory usage: 156.4+ KB

In [34]:
df.isnull().sum()

Applicant_ID          50
Applicant_Income      50
Coapplicant_Income    50
Employment_Status     50
Age                   50
Marital_Status        50
Dependents            50
Credit_Score          50
Existing_Loans        50
DTI_Ratio             50
Savings               50
Collateral_Value      50
Loan_Amount           50
Loan_Term             50
Loan_Purpose          50
Property_Area         50
Education_Level       50
Gender                50
Employer_Category     50
Loan_Approved         50
dtype: int64

In [35]:
df.describe()

       Applicant_ID  Applicant_Income  ...   Loan_Amount   Loan_Term
count    950.000000        950.000000  ...    950.000000  950.000000
mean     501.220000      10852.571579  ...  20522.825263   48.000000
std      289.608451       5061.632859  ...  11504.142575   24.245322
min        1.000000       2009.000000  ...   1015.000000   12.000000
25%      250.250000       6730.750000  ...   9806.250000   24.000000
50%      499.500000      10548.000000  ...  21210.500000   48.000000
75%      752.750000      15190.000000  ...  30263.000000   72.000000
max     1000.000000      19988.000000  ...  39995.000000   84.000000

[8 rows x 12 columns]

## As part of Data preprocessing, Handle missing values


### How to handle missing values in categorical features(columns)
### How to handle missing values in Numerical features(columns)

## There are different ways to do the above

## For categorical features, it makes more sense to fill mode values for missing values
### Mode is the most frequent value in the entire column for that feature
## For Numerical features, it makes more sense to fill mean or median for missing values
### Mostly it is Mean, unless you have aany particular reason to use median to fill the values

In [36]:
categorical_cols = df.select_dtypes(include=["object"]).columns
# numerical_cols = df.select_dtypes(include=["float64"]).columns
numerical_cols = df.select_dtypes(include=["number"]).columns
# Inculding number will filter all numerical values columns, ["float64, int64"] like this also it can be used

In [37]:
categorical_cols

Index(['Employment_Status', 'Marital_Status', 'Loan_Purpose', 'Property_Area',
       'Education_Level', 'Gender', 'Employer_Category', 'Loan_Approved'],
      dtype='object')

In [38]:
numerical_cols

Index(['Applicant_ID', 'Applicant_Income', 'Coapplicant_Income', 'Age',
       'Dependents', 'Credit_Score', 'Existing_Loans', 'DTI_Ratio', 'Savings',
       'Collateral_Value', 'Loan_Amount', 'Loan_Term'],
      dtype='object')

In [39]:
numerical_cols.size+categorical_cols.size

20

## To fill the values in the columns, we can use imputer from sklearn
### Imputer is used to complete missing values with simple strategies
### Replace missing values using a descriptive statistic (e.g mean, median, or most frequent)
### along each column, or using a constant value

In [40]:
from sklearn.impute import SimpleImputer

# We need to create 2 imputers as we want to use it for 2 types of strategies
num_imputer = SimpleImputer(strategy="mean")
df[numerical_cols]=num_imputer.fit_transform(df[numerical_cols])

In [ ]:
df.head()
print(df.isnull().sum())

Applicant_ID           0
Applicant_Income       0
Coapplicant_Income     0
Employment_Status     50
Age                    0
Marital_Status        50
Dependents             0
Credit_Score           0
Existing_Loans         0
DTI_Ratio              0
Savings                0
Collateral_Value       0
Loan_Amount            0
Loan_Term              0
Loan_Purpose          50
Property_Area         50
Education_Level       50
Gender                50
Employer_Category     50
Loan_Approved         50
dtype: int64

In [42]:
cat_imputer = SimpleImputer(strategy="most_frequent")
df[categorical_cols] = cat_imputer.fit_transform(df[categorical_cols])

In [44]:
df.head()
print(df.isnull().sum())

Applicant_ID          0
Applicant_Income      0
Coapplicant_Income    0
Employment_Status     0
Age                   0
Marital_Status        0
Dependents            0
Credit_Score          0
Existing_Loans        0
DTI_Ratio             0
Savings               0
Collateral_Value      0
Loan_Amount           0
Loan_Term             0
Loan_Purpose          0
Property_Area         0
Education_Level       0
Gender                0
Employer_Category     0
Loan_Approved         0
dtype: int64

## Exploratory Data Analysis
### Finding the relationship between different different features in the dataset
### How are all the features important in finding the output?
### Which features are most important and which are not?
### Create plota and analyse them 
### Spend some time on the data, understand the patterns, understand the data itself